<body class="apply-background">
<div class="container fluid mt-5 apply-box">
  <div class="row justify-content-center">
      <h3>Janek Services is an "At Will" Equal Opportunity Employer</h3>
      <h5><strong>BEFORE PROCEEDING</strong> - You must be 18 years of age or older,
      have a high school diploma or GED, a working phone and your own car. Applicants
      not meeting this basic criteria will not be considered for employment.</h5>
      <h5>Please fill the fields below and click submit. You must fill in all required fields
      in order to submit your application.</h5>
  </div>
  </div>
  <div class="container fluid mt-3">
    <div class="row justify-content-center">
      <div class="apply-form border border-secondary">
        <h4 class="questions header">Contact Information</h4>
        <form>
          <div class="mb-3">
            <input type="name" class="form-control" placeholder="Full Name">
          </div>
           <div class="mb-3">
            <input type="name" class="form-control" placeholder="Nickname">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email Address">
          </div>
          <div class="mb-3">
            <input type="address" class="form-control" placeholder="Street Address">
          </div>
          <div class="mb-3">
            <input type="address" class="form-control" placeholder="Apartment #">
          </div>
          <div class="mb-3">
            <input type="phone" class="form-control" placeholder="Phone - Daytime">
          </div>
          <div class="mb-3">
            <input type="phone" class="form-control" placeholder="Phone - Evening">
          </div>
          <div class="mb-3">
            <input type="phone" class="form-control" placeholder="Cell Phone">
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="How did you learn about us?">
          </div>
           <h5 class="questions">Are you lawfully permitted to work in the USA?</h5>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Yes
              </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              No
            </label>
          </div>
          <h6>Proof of citizenship or immigration status will be required upon employment.</h6>
          <h5 class="questions">What type of work are you looking for?</h5>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Full Time
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckChecked">
              Part Time
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Temporary
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckChecked">
              On Call
            </label>
          </div>
          <div class="mb-3">
            <label for="how" class="form-label">From what date are you available to work?</label>
            <input type="learn" class="form-control" placeholder="Availability">
          </div>
          <h4 class="questions header">Education</h4>
            <h5 class="questions">High School Diploma or GED?</h5>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              No
            </label>
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="High School Attended">
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="Date of Diploma/GED (mm/dd/yyyy)">
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="Undergraduate Institution Attended">
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="Undergraduate Dates Attended (mm/dd/yyyy)">
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="Undergraduate Courses or Degree">
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="Graduate Institution Attended">
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="Graduate Dates Attended (mm/dd/yyyy)">
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="Graduate Courses or Degree">
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="Technical/Busines/Other Institution Attended">
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="Technical/Busines/Other dates attended (mm/dd/yyyy)">
          </div>
          <div class="mb-3">
            <input type="learn" class="form-control" placeholder="Technical/Busines/Other Courses or Degree">
          </div>
          <div class="mb-3">
            <textarea class="form-control" rows="5" placeholder="Please describe other skills, training, honors, or extracurricular activities you feel might be relevant to the position for which you are applying."></textarea>
          </div>
            <h4 class="questions header">Miscellaneous</h4>
              <h5 class="questions">Have you ever worked under another name?</h5>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Yes
                </label>
               </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  No
                </label>
              </div>
              <div class="mb-3">
                <label for="employment" class="form-label">If yes, state name and place of employment:</label>
                <input type="learn" class="form-control" placeholder="Other Name">
                </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Place of Employment">
              </div>
             <h5 class="questions">Have you ever worked for or applied to Janek Services in the past?</h5>
               <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  No
                </label>
               </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Applied
                </label>
              </div>
               <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Employed
                </label>
              </div>
              <div class="mb-3">
                <label for="Undergrad" class="form-label">If yes, when and for what position?</label>
                <input type="learn" class="form-control" placeholder="Date Applied">
              </div>
              <div>
                <input type="learn" class="form-control" placeholder="Position">
              </div>
              <div class="mb-3">
               <label for="other" class="form-label"></label>
               <textarea class="form-control" rows="5" placeholder="Please list any relatives or close contacts who currently work for Janek Services."></textarea>
              </div>

             <h4 class="questions header">Employment</h4>
             <h5 class="questions">List each job, beginning with your current or most recent employer. Resumés may only be submitted to supplement the information requested on this application.</h5>
             <h5 class="questions">Employer 1</h5>
             <div class="mb-3">
                <label for="employment" class="form-label"></label>
                <input type="learn" class="form-control" placeholder="Position Title">
             </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Start Date">
              </div>
             <div class="mb-3">
                <input type="learn" class="form-control" placeholder="End Date">
              </div>
              <p>Employment Status:</p>
             <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Full-time
                </label>
               </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Part-time
                </label>
              </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="If part time, hours per week">
              </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Employer">
              </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Address">
              </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Phone">
              </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Supervisor Name">
              </div>
              <div class="mb-3">
                <label for="other" class="form-label"></label>
                <textarea class="form-control" rows="5" placeholder="Position Duties"></textarea>
              </div>
              <div class="mb-3">
                <label for="other" class="form-label"></label>
                <textarea class="form-control" rows="5" placeholder="Reason for Leaving"></textarea>
              </div>

            <h5 class="questions">Employer 2</h5>
             <div class="mb-3">
                <label for="employment" class="form-label"></label>
                <input type="learn" class="form-control" placeholder="Position Title">
             </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Start Date">
              </div>
             <div class="mb-3">
                <input type="learn" class="form-control" placeholder="End Date">
              </div>
              <p>Employment Status:</p>
             <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Full-time
                </label>
               </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Part-time
                </label>
              </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="If part time, hours per week">
              </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Employer">
              </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Address">
              </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Phone">
              </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Supervisor Name">
              </div>
              <div class="mb-3">
                <label for="other" class="form-label"></label>
                <textarea class="form-control" rows="5" placeholder="Position Duties"></textarea>
              </div>
              <div class="mb-3">
                <label for="other" class="form-label"></label>
                <textarea class="form-control" rows="5" placeholder="Reason for Leaving"></textarea>
              </div>
            <h4 class="questions header">PLEASE READ CAREFULLY:</h4>
            <p>I certify that my answers are true and complete to the best of my knowledge. I authorize Janek Services to make inquiries concerning my personal character including my employment record. If this application leads to employment, I understand that any misrepresentation, omissions of facts or incomplete answers in any application document will disqualify me from further consideration for employment and that, if employed, any misrepresentation or omissions of facts in any application document will be cause for my immediate dismissal.
              I understand that if I am hired, my work hours are subject to change, my employment is for no definite period of time, and may, regardless of the date of payment of my wages, be terminated at any time without cause or any prior notice. I further understand that no oral promise, employer policy, customer business practice or other procedure constitute an employment contract or modification of the at-will employment relationship between me and the employer.
              I also understand that as required by Federal law, if hired, I will be required to furnish documentation establishing my identity, eligibility to work and residency.</p>

              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Application Date">
              </div>
              <div class="mb-3">
                <input type="learn" class="form-control" placeholder="Please Type Your Name">
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  By checking this box, I indicate that I understand and agree to the above statements.
                </label>
              </div>


          <button type="submit" class="btn btn-secondary btn-style">Submit Application</button>
        </form>
      </div>
      </div>
      </div>
</body>
