<body class="bg-all">


<div class="container">
  <div class="text-center">
    <h1>Stagehand Checklist</h1>
    <h3>Tools and safety equipment for the job</h3>
  </div>
  <div class="row d-flex align-text-item">
    <div class="col-4 align-content">
      <h4>Required</h4>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Work Gloves</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Steel Toed Boots</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">8" Crescent Wrench</span>
      </div>
    </div>
    <div class="col-4">
      <h4>Highly Recommended</h4>
        <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Pocket Knife</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Flashlight</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Hammer</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Electrical Tape</span>
      </div>
    </div>
    <div class="col-4">
      <h4>Loaners Available Upon Request</h4>
      <p>All equipment is collected after work is completed.</p>
    <div>
      <i class="fa-solid fa-asterisk"></i>
      <span class="checklist-item">Hard Hats</span>
    </div>
    <div>
      <i class="fa-solid fa-asterisk"></i>
      <span class="checklist-item">Hi-Vis Vests</span>
    </div>
  </div>
</div>
</body>
