<body class="bg-all">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url(https://res.cloudinary.com/dtxhgfzpd/image/upload/v1680011380/janek/banner_ut5vhe.jpg);">
  <div class="container">
    <h1>Stagehand Checklist</h1>
  </div>
</div>

<div class="container mt-5">
  <div class="text-center">
    <h3>Tools and Safety Equipment for the Job</h3>
  </div>
  <div class="row d-flex flex-column align-items-center mb-3">
    <div class="col-4 checklist">
      <h4>Required</h4>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Work Gloves</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Steel Toed Boots</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">8" Crescent Wrench</span>
      </div>
    </div>
    <div class="col-4 checklist">
      <h4>Highly Recommended</h4>
        <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Pocket Knife</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Flashlight</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Hammer</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Electrical Tape</span>
      </div>
    </div>
    <div class="col-4 checklist">
      <h4>Loaners Available Upon Request</h4>
      <p>All equipment is collected after work is completed.</p>
    <div>
      <i class="fa-solid fa-asterisk"></i>
      <span class="checklist-item">Hard Hats</span>
    </div>
    <div>
      <i class="fa-solid fa-asterisk"></i>
      <span class="checklist-item">Hi-Vis Vests</span>
    </div>
  </div>
  </div>
</div>
</body>
