<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<html>

<body>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dtxhgfzpd/image/upload/v1680011380/janek/banner_ut5vhe.jpg);">
  <div class="container">
    <h1>JANEK SERVICES</h1>
    <p>4050 Pennsylvania Ave., Suite 111 <br>
      Kansas City, Missouri 64111</p>
  </div>
</div>


<div class="container">
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dtxhgfzpd/image/upload/v1680011208/janek/card1_setpwl.jpg)">
    <%= link_to "About Us", about_path, class: "btn btn-outline-secondary btn-lg" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dtxhgfzpd/image/upload/v1680010738/janek/card2_z9lm5m.jpg)">
      <%= link_to "Services We Offer", services_path, class: "btn btn-outline-secondary btn-lg" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dtxhgfzpd/image/upload/v1680010737/janek/card3_frvjyx.jpg)">
    <%= link_to "Join Our Crew", apply_path, class: "btn btn-outline-secondary btn-lg" %>
  </div>
</div>

<div class="container overview" style="text-align:center">
  <h2>We Make Events Happen</h2>
  <h3>Experienced Stagehands for Hire</h3>
  <p> At Janek Services, our mission is to provide an organized crew of skilled workers for your event.
  Our production teams are ready to meet your objectives and exceed your expectations.
  We stand behind our team, training, and services to best suit our client's needs.
  Catering to diverse events of all sizes, our clients are in experienced hands.</p>
  <hr>
</div>


</body>

</html>
