<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<html>

<body>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>JANEK SERVICES</h1>
    <p>4050 Pennsylvania, Suite 111 <br>
      Kansas City, Missouri 64111</p>
  </div>
</div>



<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= link_to "About Us", about_path, class: "btn btn-outline-secondary btn-lg" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      <%= link_to "Services We Offer", services_path, class: "btn btn-outline-secondary btn-lg" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    <%= link_to "Join Our Crew", apply_path, class: "btn btn-outline-secondary btn-lg" %>
  </div>
</div>

<div class="container" style="text-align:center">
  <h2>We Make Events Happen</h2>
  <h3>Talented Stagehands for Hire</h3>
  <p> At Janek Services, it's our duty to provide an organized crew of talented workers.
  Our Production teams are ready to meet your objective and exceed your expectation.
  We stand behind our team, training, & services to best suit our client's needs.
  Catering to Diverse events of all sizes, our clients are in experienced hands.</p>
  <hr>
</div>


</body>

</html>
