<div class="container">
<h1>Job Overview</h1>

<h2>General Responsibilities:</h2>

<p>Our positions include semi-skilled and skilled technical,
theatrical work in implementing staging and lighting, audio/visual,
and other related work. Employees are expected to use professional expertise,
discretion, and judgment in completing a wide range of assignments.
Under general supervision, employees are expected to work independently within established parameters. </p>

<h2>Road Crew:</h2>

<p>We offer opportunities to travel out of state to provide staging support for various events.
Travel time and work type are based upon client needs. Transportation, hotels, & per diem provided.
More info is available upon request.</p>

<h2>Duties & Responsibilities</h2>

<ul>
  <li>Perform work as audio/visual technicians, stage carpenters, stage electricians, riggers, spotlight operators, truck loaders, and set up/tear down for concerts, theater, and other events.</li>
  <li>Ensure that all safety regulations and work rules are followed.</li>
</ul>

<h2>Job Descriptions</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Position</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr> <th scope="row"></th>
      <td>Stagehand</td>
      <td>Provide manual labor for the set up and tear down
        of a show as required by the crew chief</td>
    </tr>
    <tr> <th scope="row"></th>
      <td>Truck Loader</td>
      <td>Unload and load crates/equipment from truck</td>
    </tr>
    <tr> <th scope="row"></th>
      <td>Electrician</td>
      <td>Perform the electrical connections as required by the show</td>
    </tr>
      <tr> <th scope="row"></th>
      <td>Carpenter</td>
      <td>Build or set up staging, scenery, and backdrops.
      Must have experience with carpentry tools and techniques</td>
    </tr>
      <tr> <th scope="row"></th>
      <td>Ground Rigger</td>
      <td>Provide all necessary support for the up riggers. Must know basic knots
      and other rigging requirements. Must know the correct way to pack the
      rigging equipment into crates.</td>
    </tr>
      <tr> <th scope="row"></th>
      <td>Up Rigger</td>
      <td>Set rigging points and manipulate rigging lines, hoists,
      and pulling gear to lift the theatrical sound, lighting, and sets.
      Must be trained in rigging practices and procedures </td>
    </tr>
      <tr> <th scope="row"></th>
      <td>Forklift Driver</td>
      <td>Oversee the safe operating conditions of the loading area.
      All forklift drivers must be certified.</td>
    </tr>
  </tbody>
</table>

<h1>Qualifications</h1>

<ul>
  <li>Working knowledge of the tools and materials and working knowledge
  of the methods and practices used in the general installation, testing,
  operation, and removal of theatrical staging, sound,
  and lighting associated with the entertainment industry</li>
  <li>Working knowledge of theatrical production terms and techniques</li>
  <li>Working knowledge of equipment parts and components</li>
  <li>Working knowledge of occupational hazards and necessary safety procedures and equipment</li>
  <li>Ability to communicate effectively</li>
  <li>Ability to manage time effectively and work under tight deadlines </li>
  <li>Ability to work with others as a team</li>
  <li>Ability to lift 25 pounds repeatedly, 50-70 pounds frequently, and heavier on a limited basis</li>
  <li>Ability to bend, twist, stoop, climb ladders, work from heights and perform other manual labor tasks</li>
</ul>

</div>
