 <div class="services-banner", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dtxhgfzpd/image/upload/v1680011380/janek/banner_ut5vhe.jpg);">
 <div class="container">
    <div class="pt-5">
        <h1>Our Services</h1>
    </div>
  </div>
  </div>

<div class="container list">
  <div class="row d-flex">
    <div class="col-3">
      <h3 class="list-title">Event Support</h3>
      <ul>
        <li>Concerts</li>
        <li>Conventions</li>
        <li>Festivals</li>
        <li>Theater</li>
        <li>Trade Shows</li>
        <li>Break-out Rooms</li>
        <li>General Labor</li>
      </ul>
    </div>

    <div class="row col-3">
       <h3 class="list-title">Staffing Solutions</h3>
       <ul>
        <li>Stagehands</li>
        <li>Audio/Video Technicians</li>
        <li>Lighting Technicians</li>
        <li>Labor/Loaders</li>
        <li>Riggers</li>
        <li>Spotlight Operators</li>
        <li>Forklifts</li>
      </ul>
    </div>
  </div>
</div>
